<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SafeCycle</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href='../static/home_page.css' /> -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/home_page.css')}}"/>
    <meta http-equiv="refresh" content="5">
</head>

<body id = "body">
    <div>
        <h1 id = "header">SafeCycle Home Page</h1>
    </div>
    
    <div>
        <h2>Today's activity was started at {{date}}. </h2>
        <h2>Activity tracking is currently {{st}}.</h2>
        <img src="/print-plot" alt="my plot">
        <img src="/gps-plot" alt="my plot2">
        <h2>Time elapsed since starting is {{current_time}}</h2>
        <h2>Average speed is {{avg}} mph.</h2>
        <h2>Max speed is {{max}} mph.</h2>
        <h2>Total distance travelled is {{distance | round(2, 'floor')}} miles.</h2>
        <h2>Current altitude is {{alt}} feet ASL.</h2>
        <h2>Curerent temperature is {{temp}} degrees Fahrenheit.</h2>
    </div>
    <div>
        <h3>Control Buttons</h3>
        <form method="post" action="/">
            <input class="button" type="submit" value="start" name="start"/>
            <input class="button" type="submit" value="pause" name="pause"/>
            <input class="button" type="submit" value="end" name="end"/>
        </form>
    </div>
</body>
</html>

<!-- maybe include accel and gyro movement -->